/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/*body {
    text-align: center;
}*/

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; /* if you want the light version */
  color: #8888dc;
}

h2 {
  font-family: roboto;
  font-weight: 400;
  color: #29a7a7;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #929292;
}

.img-circle {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #6fe1e69e;
  }

  .img-circle:hover {
    width: 250px;
    transition: all 0.7s ease;
    border: none;
  }

.btn-blue {
  text-decoration: none;
  font-family: "Open Sens", sans-serif;
  font-weight: 400;
  background-color:rgb(210, 210, 210);
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
}

.btn-blue:hover {
  font-size: 20px;
  transition: all 0.3s ease;
  background-color: #29a7a7;

}

li, i {
  display: inline-block;
  font-size: 50px;
  color: rgb(210, 210, 210);
  margin: 5px;
}

i:hover {
  color: black;
  font-size: 55px;
  transition: all 0.3s ease;
}

.socials {
  padding: 0;
}

.container {
  text-align: center;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.card {
  border: 1px solid #80808005;
  margin: 35px auto;
  padding: 45px 45px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #00000029;
}

@media (max-width: 1560px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
